.container {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  /* border: 2px solid black; */
  box-shadow: 10px 10px 10px 10px #888888;
  padding: 100px;
}

button {
  margin: 6px;
  font-size: 16px;
}
