.containerr {
  font-size: large;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  /* background-color: white; */
}

h1,
th,
td {
  padding: 10px;
  margin-right: 10%;
  text-align: center;
}

.btn-primary {
  margin: 10px;
}
